/* .main {} */

.logo {
	display: block;
	position: relative;
	font-size: 5.4rem;
	letter-spacing: .2rem;
	font-family: var(--accent-font-family);
	font-weight: var(--accent-font-weight);
	color: var(--accent-color);
	/* transform: scale(1.1, 1); */
}

.logo::after {
	content: attr(title);
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	font: inherit;

	color: var(--active-color);
	text-shadow: var(--active-text-shadow);

	will-change: opacity;
	opacity: 0;
	animation: appear 9s cubic-bezier(0.6, 0.04, 0.9, 0.335) infinite alternate;
}

.title {
	margin-top: -.6em;
	margin-bottom: 0;
	font-size: 1.8rem;
	font-family: var(--caption-font-family);
	font-weight: var(--caption-font-weight);
	text-transform: uppercase;
	letter-spacing: .1rem;
}

@keyframes appear {
	100% {
		opacity: 1;
	}
}
