
/* .main {} */

.logo {
  font-size: 4.5rem;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: var(--accent-color);
  animation: glow 9s cubic-bezier(0.6, 0.04, 0.9, 0.335) infinite alternate;
}

.title {
  margin-top: -1rem;
  font-weight: normal;
}

@keyframes glow {
  100% {
    color: var(--active-color);
    text-shadow: var(--active-text-shadow);
  }
}
