.main {
	margin: 0;
	text-align: center;
	color: var(--color);
	background: var(--bg-color);
}

.meter {
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
}

.controls {
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
}

.rain {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);

}
