.content {
	border: 1px solid #999;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	--border: var(--border-width) var(--border-style) var(--border-color);
	--color: #0f0;
	--bg-color: #333;
	--hover-color: var(--color);
	--hover-bg-color: #666;
	--active-color: var(--color);
	--active-bg-color: var(--bg-color);
	--blink-color: #6f6;
	--blink-speed: 1s;
}

.actions button {
	padding: 5px 10px;
	margin: 0 2px;
	border: 2px solid #006400;
	background: #fff;
	color: #006400;
	font-size: 1rem;
	font-weight: 700;
	cursor: pointer;
}

.muted {
	opacity: .5;
}
.muted:hover {
	opacity: 1;
}
.actions, .options {
	margin: 20px;
}
.info dt, .info dd {
	display: inline;
	margin: 0;
	list-style: none;
}
.info dd + dt::before {
	content: "| ";
	padding: 0 5px;
}

.board {
    width: 800px;
    height: 800px;
    margin: 0 auto;
	flex: 1 1 auto;
	position: relative;
}

