@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700|PT+Serif+Caption&subset=latin-ext');

.main {
	--cell-number: 16;
	--cell-size: 5rem;
	--matrix-size: calc(var(--cell-number) * var(--cell-size));

	--border-width: 0;
	--border-color: #999;
	--border-style: solid;
	--border: var(--border-width) var(--border-style) var(--border-color);
	--color: #0b0;
	--bg-color: transparent;

	--glow-color: var(--hover-color);
	--glow-shadow-blur: .2em;
	--glow-shadow-color: var(--accent-color);

	--char-font-family: 'PT Sans Caption';
	--char-font-weight: 700;
	--char-font-size: 4.4rem;

	--msg-font-family: 'PT Serif Caption';
	--msg-font-weight: 400;
	--msg-font-size: 3.8rem;
}

/* Action bar */
/* .actions {} */
.action {
	padding: 8px 16px;
	border: 1px solid var(--accent-color);
	border-radius: 0;
	background: var(--accent-bg-color);
	color: var(--accent-color);
	font-size: 1.5rem;
	font-weight: bold;
}
.action + .action {
	margin-left: 20px;
}

.action:enabled:hover, .action:enabled:focus, a.action:hover {
	cursor: pointer;
	outline: none;

	background: var(--hover-bg-color);
	color: var(--hover-color);
	border-color: var(--hover-color);
	text-shadow: var(--hover-text-shadow);

}
.action:enabled:focus, a.action:active {
	text-shadow: var(--active-text-shadow);
	box-shadow: var(--hover-text-shadow);
}
.action:disabled {
	opacity: .5;
}

/* Status bar */
/* .info {} */
.term, .desc {
	display: inline;
	margin: 0;
	list-style: none;
	font-size: 1.2rem;
}
.term + .desc {
	margin-left: .2em;
}
.desc + .term::before {
	content: "| ";
	padding: 0 5px;
}

/* Playground */
.board {
	user-select: none;
	width: 800px;
	height: 800px;
	margin: 0 auto;
	position: relative;
}

.alert {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.message {
	z-index: 1;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0 1rem 0;

	text-transform: uppercase;
	font-family: var(--msg-font-family), Tahoma, sans-serif;
	font-weight: var(--msg-font-weight);
	font-size: var(--msg-font-size);
	letter-spacing: .2rem;
	text-shadow: 0 0 var(--glow-shadow-blur) var(--glow-shadow-color);
	color: var(--glow-color);
	background: var(--bg-color);
	border: 3px solid var(--glow-color);
	box-shadow: 0 0 calc(var(--glow-shadow-blur) * 2) var(--hover-color);
}
