:global(html, body) {
	height: 100%;
	margin: 0;
	padding: 0;
	background: lightgrey;
}

:global #main {
	box-sizing: border-box;
	width: 75%;
	min-width: 800px;
	min-height: 300px;
	margin: 0 auto;
	padding: 20px;
	background: white;
}
