@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700|PT+Serif+Caption&subset=latin-ext');

:global(html) {
	font-size: 10px;
	height: 100%;
}
:global(body) {
	margin: 0;
	padding: 0;
	color: #999;
	background: #333;

	--ff: 'Avenir', 'Lucida Sans', 'Lucida Sans Unicode', Helvetica, Verdana, sans-serif;
	font-family: var(--ff);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:global(.theme-matrix) {
	--color: #777;
	--bg-color: #333;

	--accent-ff: 'PT Sans Caption', Tahoma, sans-serif;
	--accent-fw: 700;
	--caption-ff: 'PT Serif Caption', Tahoma, sans-serif;
	--caption-fw: 400;

	--warn-color: #f00;
	--warn-bg-color: var(--bg-color);

	--accent-color: #090;
	--accent-bg-color: var(--bg-color);

	--hover-color: #6f9;
	--hover-bg-color: transparent;
	--hover-shadow-blur: .5em;
	--hover-shadow-color: var(--warn-color);
	--hover-text-shadow: 0 0 var(--hover-shadow-blur) var(--hover-shadow-color);

	--active-color: #fff;
	--active-bg-color: var(--hover-bg-color);
	--active-shadow-blur: 2em;
	--active-shadow-color: var(--hover-shadow-color);
	--active-text-shadow: 0 0 .1em var(--active-shadow-color), 0 0 var(--active-shadow-blur) var(--active-shadow-color);
}

button {
	border: 1px dotted var(--accent-color);
	text-transform: uppercase;
	line-height: 1em;
	letter-spacing: .1rem;

	font-family: var(--caption-ff);
	font-weight: var(--caption-fw);
}

a, button {
	background: var(--accent-bg-color);
	color: var(--accent-color);
}

a {
	border-bottom: 1px dotted var(--accent-color);
}

a:hover, button:enabled:focus, button:enabled:hover {
	cursor: pointer;
	outline: none;
	background: var(--hover-bg-color);
	color: var(--hover-color);
	border-color: var(--hover-color);
}
