:global(html, body) {
	height: 100vh;
	margin: 0;
	padding: 0;
	background: lightgrey;
}

:global(body) {
	display: flex;
}

:global #main {
	display: flex;
	flex: 1 1 auto;
	margin: 0 auto;
	background: white;
}
