.main {
	--cell-size: 5rem;
	--cell-font-size: 4.8rem;

	--color: #0b0;

	--glow-color: var(--hover-color);
	--glow-shadow-blur: .2em;
	--glow-shadow-color: var(--accent-color);
	--glow-text-shadow: 0 0 var(--glow-shadow-blur) var(--glow-shadow-color);

	--msg-font-family: var(--caption-font-family);
	--msg-font-weight: var(--caption-font-weight);
	--msg-font-size: 3.8rem;
	--msg-bg-color: #333;

	overflow: hidden;
	position: relative;
}

.freezeOverlay {
	cursor: wait;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

/* Status bar */
.warn {
	color: var(--warn-color);
}

.term, .desc {
	display: inline;
	margin: 0;
	list-style: none;
	font-size: var(--default-font-size);
}
.term + .desc {
	margin-left: .2em;
}
.desc + .term, .desc + .desc {
	margin-left: 1.5em;
}

.actions {
	margin: 10px;
}

.actions button {
	font-size: 1.8rem;
}
