.main {
	--cell-size: 5rem;
	--cell-font-size: calc(var(--cell-size) * .97);

	--color: #0b0;

	--glow-color: var(--hover-color);
	--glow-shadow-blur: .2em;
	--glow-shadow-color: var(--accent-color);
	--glow-text-shadow: 0 0 var(--glow-shadow-blur) var(--glow-shadow-color);

	--msg-font-family: var(--caption-font-family);
	--msg-font-weight: var(--caption-font-weight);
	--msg-font-size: 3.8rem;
	--msg-bg-color: #333;

	overflow: hidden;
	position: relative;
}

.board {
	transform-origin: 0 50%;
	user-select: none;
	-webkit-user-select: none;
	margin: 0 auto;
	position: relative;
	width: calc(var(--cell-size) * var(--xn));
	height: calc(var(--cell-size) * var(--yn));
}

.freezeOverlay {
	cursor: wait;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

/* Status bar */
.warn {
	color: var(--warn-color);
}

.term, .desc {
	display: inline;
	margin: 0;
	list-style: none;
	font-size: var(--default-font-size);
}
.term + .desc {
	margin-left: .2em;
}
.desc + .term, .desc + .desc {
	margin-left: 1.5em;
}

.actions {
	margin: 10px;
}

.actions button {
	font-size: 1.8rem;
}

.cursor {
	display: block;
	position: absolute;
	left: calc(var(--cell-size) * var(--x));
	top: calc(var(--cell-size) * var(--y));
	width: .5rem;
	height: .5rem;
	margin-left: calc(var(--cell-size) - .5rem);
	margin-top: calc(var(--cell-size) - 1em);
	background: var(--hover-color);
	/* border-bottom: 1px solid var(--hover-color); */
	opacity: .3;
	animation: disappear 3s cubic-bezier(0.6, -0.28, 0.735, 0.045) infinite alternate;
}
.cursor.isActive {
	animation: none;
	opacity: .5;
}

.alert {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.message {
	z-index: 1;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0 1rem 0;

	text-transform: uppercase;
	white-space: nowrap;

	font-family: var(--msg-font-family), Tahoma, sans-serif;
	font-weight: var(--msg-font-weight);
	font-size: var(--msg-font-size);
	letter-spacing: .2rem;
	text-shadow: 0 0 var(--glow-shadow-blur) var(--glow-shadow-color);
	color: var(--glow-color);
	background: var(--msg-bg-color);
	border: 3px solid var(--glow-color);
	box-shadow: 0 0 calc(var(--glow-shadow-blur) * 2) var(--hover-color);
}

@keyframes disappear {
	100% {
		opacity: 0;
	}
}
